.button {
    border-radius: 4px;
    border-color: transparent;

    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
}

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;

    background: $accent-color;
    box-shadow:
        0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: $main-background-color;
}

.filter__button {
    padding: 6px 22px;

    background-color: $button-background;

    color: $title-text-color;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;

    transition-property: color, background-color, box-shadow;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus{background-color: $accent-color;
        color: $main-background-color;
        box-shadow:
            0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);

    }

}
.modal-button {
    display: block;
    margin: auto;

    padding: 10px 52px;
    min-width: 200px;

    background: $accent-color;
    box-shadow:
        0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: $main-background-color;

    transition-property: background-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus{
        background-color: #188CE8;
    }
}
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    cursor: pointer;
    color: #000;
    border-radius: 50%;
    background: $main-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition-property: color, border-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus{
        color: $accent-color;
        border-color: $accent-color;
    }
}
.close-button__icon {
    fill: currentColor;
}

.sign-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    max-height: 50px;
    min-width: 200px;
    border-radius: 4px;
    border-color: transparent;

    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    letter-spacing: 0.06em;
    color: $main-background-color;

    background: $accent-color;
    box-shadow:
        0px 4px 4px rgba(0, 0, 0, 0.15);

    &::after{
        content: "";
        width: 24px;
        height: 24px;
        margin-left: 10px;
        
        background-image: url(../images/telegram.svg);
        }
    }
          
