.logo {
    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.2;
    color: $accent-color;
    text-decoration: none;
}
.logo__text--black {
    color: #000000;
}
.logo__text--white {
    color: $main-background-color;
}
.footer-adress__logo {
    display: block;
    margin-bottom: 28px;
}