// Модальне вікно 
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 1;
    transition-property: opacity;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    min-width: 450px;
    min-height: 609px;

    @media screen and (min-width:1200px) {
        min-width: 528px;
        min-height: 581px;
    }

    background: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .backdrop.is-hidden &{
        transform: translate(-50%, -50%) scale(1.5);
    }
}