// Форма модального вікна 
.modal-form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
}

.form-label {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.form-label__label-name {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.form-label__input {
    padding-top: 11px;
    padding-left: 42px;
    padding-bottom: 11px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:focus{
    outline-style: none;
    border-color: #2196F3;
    }
}

.form-label__icon {
    fill: var(--title-text-color);

    position: absolute;
    top: 50%;
    left: 15px;

    .form-label:focus-within &
    {fill: #2196F3;}
}
.form-label__comment-area {
    margin-bottom: 10px;
    resize: none;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:focus{
        outline-style: none;
        border-color: #2196F3;
    }
    &::placeholder{
        font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
    }
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $main-distance-element;

    text-align: center;
}

.checkbox-label__link {
    text-decoration-line: underline;
    color: #2196F3;
}

.checkbox-label__input {
    appearance: none;
    position: absolute;
}
.checkbox-label__text{
    font-size: 12px;
    line-height: 1.2;

    @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.7;
        }
}
.checkbox-label__icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 9px;

    border: 2px solid $title-text-color;
    border-radius: 4px;

    .checkbox-label__input:checked + &{
        background-color: #2196F3;
        border-color: #2196F3;
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-origin: border-box;

    }
}