.page-header {
    border-bottom: 1px solid #ECECEC;
}

// Навігація 
.site-nav {
    display: flex;
    margin-left: 93px;
    
    @media screen and (max-width:767px) {
            display: none;
    
        }
}

.site-nav__item+.site-nav__item {
    margin-left: 50px;
}

.site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.site-nav__link--current {
    color: $accent-color;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: $accent-color;
    }
}

// Аудентифікація 
.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    @media screen and (max-width:767px) {
            display: none;
    
        }
}

.auth-nav__item+.auth-nav__item {
    margin-left: 50px;
}

.auth-nav__link {
    display: inline-flex;
    padding: 32px 0;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.auth-nav__icon {
    align-self: center;
    margin-right: 10px;
    fill: currentColor;
}







 