/* What we do */
.section--paddingnull {
    padding-top: 0px;
}

.tasks {
    display: flex;
}

.tasks__item+.tasks__item {
    margin-left: $main-distance-element;
}

.tasks__thumb {
    position: relative;
}

.tasks__name {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;


    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $main-background-color;

    background-color: rgba(47, 48, 58, 0.8);
}