// Наша команда 
.section--bcggrey {
    background-color: $button-background;
}

.members {
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
    
}
.members__item {
    text-align: center;


    background-color:
        $main-background-color;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    &:not(:last-child) {
    @media screen and (max-width:767px) {
    margin-bottom: $main-distance-element;
    }
            }
    @media screen and (min-width:768px) {
        width: calc((100% - 4 * 15px)/2);
        margin: 15px;
            }
    @media screen and (min-width:1200px) {
        width: calc((100% - 8 * 15px)/4);
        margin: 15px;
            }
}

.members__content {
    padding-top: $main-distance-element;
    padding-bottom: 16px;
}

.members__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

}

.members__position {
    font-size: 16px;
    line-height: 1.2;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 24px;
    // padding-left: 32px;
    // padding-right: 32px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    color: $primary-icon-color;

    transition-property: color, background-color;
    transition-duration: $transition-time;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus{
        background-color: $accent-color;
        color: $main-background-color;
    }
}

.social-list__item + .social-list__item {
    margin-left: 10px;
}

.social-list__icon {
    fill: currentColor;
}