$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$main-background-color: #fff;
$button-background: #F5F4FA;
$additional-background: #2F303A;
$primary-icon-color: #AFB1B8;

$main-distance-element: 30px;

$transition-time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;